/* Universal Styles */
html {
  font-family: 'Noto Sans', Arial, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.2;
  padding-bottom: 1.25rem;
}

h2 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

h4 {
  font-size: 0.85rem;
  line-height: 1.5;
  padding-bottom: 1rem;
}

button {
  width: 30%;
  font-size: 0.75rem;
  border: 1px solid #dddddd;
  color: black;
  padding: 0.75rem 0 0.75rem 0;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: #016fd1;
  color: white;
  border: 1px solid #016fd1;
  transition: all 750ms;
  -webkit-transition: all 750ms;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}

video {
  display: block;
  max-width: 100%;
}

input {
  min-width: 10rem;
  text-align: center;
  padding: 0.75rem 0 0.75rem 0;
}

@media only screen and (max-width: 760px) {
  .banner button {
    width: 100%;
  }
}

/* Header Section */
header {
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
}

header .content {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
}

/* Logo on right */
header .logo {
  flex: 1;
  display: inline-flex;
  align-items: center;
}

.logo span {
  font-family: 'Neuton', Garamond, serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  line-height: 1.6;
  padding-left: 0.25rem;
  padding-bottom: 0;
}

.logo-C {
  font-weight: bold;
}

/* Navigation links on left */
header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

nav a {
  vertical-align: middle;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
}

nav a:hover {
  color: #016fd1;
}

header .mobile {
  display: none;
}

/* Header section - CSS for screens smaller than 760px wide */
@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .75rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

}

/* Banner Section */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  padding: 2rem 1.5rem;
}

.banner .image-container {
  width: 60%;
}

.banner .content {
  padding-left: 1.5rem;
}

/* Banner section - CSS for screens smaller than 760px wide */
@media only screen and (max-width: 760px) {
  .banner {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .banner .image-container {
    width: 100%;
    height: auto;
  }

  .banner .content {
    padding: 2rem 1.5rem;
  }

}

/* Information Section */
.articles-outer {
  display: block;
  float: left;
  width: 100%;
}

.main-article {
  width: 60%;
  display: block;
  float: left;
  box-sizing: border-box;
  padding: 2rem 1.5rem;
}

.main-article .content {
  padding-top: 2rem;
}

.main-article h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.main-article p {
  font-size: 0.75rem;
}

/* small articles on side */
.articles {
  width: 40%;
  display: block;
  float: left;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-right: 1.5rem;
}

.article {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
}

.article:hover {
    background-color: #E6E6E6;
    transition: all 750ms;
    -webkit-transition: all 750ms;
}

.article:hover .image-container {
    filter: grayscale(100%);
    transition: all 750ms;
    -webkit-transition: all 750ms;
}

.article:hover .content h2 {
  color: #E94200;
  transition: all 750ms;
  -webkit-transition: all 750ms
}

.article .image-container {
    width: 35%;
    height: auto;
    position: relative;
    object-fit: cover;
}

.article .image-container.mobile {
  display: none;
}

.article .content {
    width: 65%;
    padding-left: 1rem;
}

.article h2 {
  font-weight: bold;
}

.article span {
  font-size: 0.85rem;
  color: #A1A1A1;
}

.articles-outer:after {
  content: "";
  clear: both;
  display: table;
}

/* Article section - CSS for screens smaller than 760px wide */
@media only screen and (max-width: 760px) {
  .articles-outer {
    border-bottom: 1px solid #dddddd;
  }

  .main-article {
    display: none;
  }

  .articles {
    width: 100%;
    padding: 0.5rem;
  }

  .article {
    display: block;
  }

  .article .image-container.desktop {
    display: none;
  }

  .article .image-container.mobile {
    display: block;
    width: 100%;
  }

  .article .content {
      width: 100%;
      padding: 1rem;
  }

}

/* Courses Section */
.courses-outer {
  display: table;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  padding: 2rem 4.5rem;
  background-color: #f3f3f3;
}

.courses-outer h2 {
  font-size: 1.5rem;
  font-weight: 800;
  display: block;
  padding-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.courses {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.course-rows {
  display: flex;
  width: 100%;
  justify-content: center;
}

.course {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.course .image-container {
  width: 100%;
  height: auto;
}

.course .content {
  flex: 1;
  padding: 1rem 1rem 1.5rem 1rem;
  background-color: white;
}

.course h3 {
  font-weight: 800;
}

.course h3:hover {
  color: #E94200;
  transition: all 750ms;
  -webkit-transition: all 750ms
}

.course h4 {
  padding: 0.5rem 0;
}

/* Course section - CSS for screens smaller than 760px wide */
@media only screen and (max-width: 760px) {
  .courses-outer {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    padding: 2rem 1rem;
    background-color: white;
    border-bottom: 1px solid #dddddd;
  }

  .course-rows {
    flex-flow: column wrap;
    width: 100%;
  }

  .course {
    width: 100%;
    display: block;
    padding: 0.25rem 0;
  }

  .course .image-container {
    display: none;
  }

  .course .content {
    padding: 1rem;
    background-color: #f3f3f3;
  }

  .course h3 {
    font-size: 1.5rem;
    vertical-align: middle;
  }

  .course h4 {
    display: none;
  }

}

/* Thesis Section */
.thesis-outer {
  display: block;
  float: left;
  padding-top: 2rem;
}

.thesis-heading h2 {
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  padding-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.main-thesis {
  width: 60%;
  display: block;
  float: left;
  box-sizing: border-box;
  padding: 2rem 1.5rem;
}

.main-thesis .content {
  padding-top: 2rem;
}

.main-thesis h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.thesis-articles {
  width: 40%;
  display: block;
  float: left;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-right: 1.5rem;
}

.small-thesis {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
}

.small-thesis:hover {
    background-color: #E6E6E6;
    transition: all 750ms;
    -webkit-transition: all 750ms;
}

.small-thesis:hover .image-container {
    filter: grayscale(100%);
    transition: all 750ms;
    -webkit-transition: all 750ms;
}

.small-thesis:hover .content h2 {
  color: #E94200;
  transition: all 750ms;
  -webkit-transition: all 750ms
}

.small-thesis .image-container {
  width: 35%;
  height: auto;
  position: relative;
}

.small-thesis .content {
  width: 65%;
  padding-left: 1rem;
}

.small-thesis h2 {
  font-weight: bold;
}

/* Thesis section - CSS for screens smaller than 760px wide */
@media only screen and (max-width: 760px) {
  .thesis-outer {
    padding-bottom: 2rem;
  }

  .main-thesis {
    width: 100%;
    padding: 0 1.5rem;
  }

  .main-thesis .content {
    display: none;
  }

  .thesis-articles {
    display: none;
  }
}

/* Footer Section */
footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #f3f3f3;
  padding: 2rem 5rem;
}

footer h3, li {
  text-transform: uppercase;
  font-size: 0.75rem;
}

.fat-footer {
  display: block;
  clear: both;
  margin-left: -2rem;
}

.column {
  width: 33.33%;
  height: 100%;
  display: block;
  float: left;
  padding-left: 2rem;
  box-sizing: border-box;
}

.column hr {
  border-top: 1px solid #dddddd;
  display: block;
}

.column li {
  padding: 0.5rem 0;
}

.column li a:hover {
  text-decoration: underline;
}

.site-links {
  display: block;
  position: relative;
  float: left;
  margin: 0 auto;
  text-align: center;
}

.site-links li {
  display: inline-block;
  padding-left: 2rem;
  line-height: 2.5;
}

.site-links li a:hover {
  text-decoration: underline;
}

.social li a:hover {
  color: #016fd1;
}

/* Footer section - CSS for screens smaller than 760px wide */
@media only screen and (max-width: 760px) {
  footer {
    padding: 2rem 1.5rem;
  }

  .column {
    width: 100%;
    height: auto;
    display: block;
    float: left;
    padding-left: 2rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
  }

}
