/* Universal Styles */
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
  padding-bottom: 1.25rem;
}

h2 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

h4 {
  font-size: 0.85rem;
  line-height: 1.5;
  padding-bottom: 1rem;
}

.button {
  width: 30%;

  border: 1px solid #dddddd;
  color: black;
  padding: 0.75rem 0 0.75rem 0;
  text-align: center;
  text-transform: uppercase;
}

.button:hover {
  background-color: #016fd1;
  color: white;
  border: 1px solid #016fd1;
}

.image-container img {
  display: block;
  max-width: 100%;
}

video {
  display: block;
  max-width: 100%;
}

/* Header Section */
header {
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
}

header .content {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
}

/* Logo on right */
header .logo {
  flex: 1;
  display: inline-flex;
}

header .logo span {
  font-family: 'Neuton', Garamond, serif;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.6;
  padding-left: 0.25rem;
}

/* Navigation links on left */
header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

nav a {
  vertical-align: middle;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
}

header .mobile {
  display: none;
}

/* Banner Section */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  padding: 2rem 1.5rem;
  /*background: url("../images/banner.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;*/
}

.banner .image-container {
  width: 60%;
}

.banner .content {
  padding-left: 1.5rem;
}

/* Information Section */
.articles-outer {
  display: block;
  float: left;
}

.main-article {
  width: 60%;
  display: block;
  float: left;
  box-sizing: border-box;
  padding: 2rem 1.5rem;
  border-right: 1px solid #dddddd;
}

.main-article .content {
  padding-top: 2rem;
}

.main-article h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.main-article p {
  font-size: 0.75rem;
}

.articles {
  width: 40%;
  display: block;
  float: left;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-right: 1.5rem;
}

.article {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
}
/*
.article:first-child {
  padding-top: 0;
}*/
.article:hover {
  background-color: #dddddd;
}

.article .image-container {
    width: 35%;
    height: auto;
}

.article .content {
    width: 65%;
    padding-left: 1rem;
}

.article h2 {
  font-weight: bold;
}

.article span {
  font-size: 0.85rem;
  color: #016fd1;
}

/* Courses Section */
.courses-outer {
  display: flex;
  padding: 2rem 4.5rem;
  background-color: #f3f3f3;
  border: 1px dashed blue;
  flex-wrap: wrap;
  align-content: flex-start;
}

.courses-outer h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  display: block;
  padding-bottom: 1rem;
}

.courses {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.course-rows {
  display: flex;
  justify-content: center;
}

.course {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.course .content {
  padding: 1rem;
  background-color: white;
}

/* Thesis Section */
.thesis {
  display: block;
  float: left;
}

.main-thesis {
  width: 60%;
  display: block;
  float: left;
  box-sizing: border-box;
  padding: 2rem 1.5rem;
  border-right: 1px solid #dddddd;
}

.thesis-articles {
  width: 40%;
  display: block;
  float: left;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-right: 1.5rem;
}

.small-thesis {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
}

.small-thesis .image-container {
  width: 35%;
  height: auto;
}

.small-thesis .content {
  width: 65%;
  padding-left: 1rem;
}

/* Footer Section */
footer {
  padding: 2rem 1.5rem;
}
