/* Universal Styles */
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
  padding-bottom: 1.25rem;
}

h2 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.button {
  width: 30%;
  background-color: white;
  border: 1px solid #dddddd;
  color: black;
  padding: 0.75rem 0 0.75rem 0;
  text-align: center;
  text-transform: uppercase;
}

.button:hover {
  background-color: #016fd1;
  color: white;
  border: 1px solid #016fd1;
}

.image-container img {
  display: block;
  max-width: 100%;
}

/* Header Section */
header {
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
}

header .content {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
}

/* Logo on right */
header .logo {
  flex: 1;
  display: inline-flex;
}

header .logo span {
  font-family: Garamond, serif;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.6;
  padding-left: 0.25rem;
}

/* Navigation links on left */
header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

nav a {
  vertical-align: middle;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
}

header .mobile {
  display: none;
}

/* Banner Section */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1.5rem;
  /*background: url("../images/banner.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;*/
}

.banner .image-container {
  width: 60%;
  padding-right: 1.5rem;
}

.banner .content {
  padding-right: 4rem;
}
